<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/%20https:/cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**Installed MySQL Server and MySQL Workbench**
Spacex Dataset was stored in a Table in MySQL database  'spacex_database'

How to import a csv file in a MySQL Table. 
https://www.youtube.com/watch?v=vzYFZXI43hM

Date was changed from European format to YYYY-MM-DD. Compatible with MySQL Table Date format.

In [44]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [1]:
import pandas as pd

We import and check initial csv file.

In [2]:
#df=pd.read_csv('C:\Users\stefo\Desktop\Spacex.csv')
df=pd.read_csv('C:/Users/stefo/Desktop/Spacex.csv')

In [3]:
df.describe
df.shape
df.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing _Outcome     object
dtype: object

In [4]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [179]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#-------
#!pip install pymysql
#!pip install ipython-sql
#!pip install mysqlclient
#!pip install mysql-connector-python

In [5]:
import mysql.connector
import pymysql

In [6]:
%load_ext sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

#### <span style="color:brown"> Connecting to my local MySQL database. </span>

In [7]:
conn=pymysql.connect(host='localhost',
                     port=int(3306),
                     user='root',
                     passwd="###########",
                     db='spacex_database'  )

 <span style="color:brown">  I experienced issues with %sql requests. \
I decided to go with **"pd.read_sql_query"** which works very well with connection 'conn'  </span>

We check Table 'spacex_v5'  in 'spacex_database'. (It is turned into a dataframe.)

In [8]:
df=pd.read_sql_query("Select * from spacex_v5 ",conn)    
df.head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,0 days 18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,0 days 15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,0 days 07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0 days 00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,0 days 15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [9]:
print(df.dtypes)

Date                          object
Time (UTC)           timedelta64[ns]
Booster_Version               object
Launch_Site                   object
Payload                       object
PAYLOAD_MASS__KG_              int64
Orbit                         object
Customer                      object
Mission_Outcome               object
Landing_Outcome               object
dtype: object

<span style="color:brown">  Time format is not that great, but it has no impact on results in coming tasks.  </span>

<span style="color:brown"> My MySQL environment works fine for testing SQL queries.  </span>

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [10]:
df_unique_launchsites=pd.read_sql_query("Select distinct Launch_Site  from spacex_v5 ",conn) 
print(df_unique_launchsites)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [11]:
#%sql SELECT Launch_Site from spacex_v2 where (Launch_Site) LIKE 'CCA%' LIMIT 5;
df_launchsites_CCA5=pd.read_sql_query("Select Launch_Site from spacex_v5 where Launch_Site Like 'CCA%' Limit 5",conn) 
print(df_launchsites_CCA5)

   Launch_Site
0  CCAFS LC-40
1  CCAFS LC-40
2  CCAFS LC-40
3  CCAFS LC-40
4  CCAFS LC-40

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [23]:
#  For validation purposes... sum in df_NASA_CRS  'PAYLOAD_MASS__KG_'   column 

df_NASA_CRS=pd.read_sql_query("Select * from spacex_v5  where Customer='NASA (CRS)'",conn) 

print(df_NASA_CRS.head(2))
#df_NASA_CRS['PAYLOAD_MASS__KG_'].sum()
print('----')
print('Total payload mass, customer= NASA (CRS):', df_NASA_CRS['PAYLOAD_MASS__KG_'].sum())

         Date      Time (UTC) Booster_Version  Launch_Site       Payload  \
0  2012-10-08 0 days 00:35:00  F9 v1.0  B0006  CCAFS LC-40  SpaceX CRS-1
1  2013-03-01 0 days 15:10:00  F9 v1.0  B0007  CCAFS LC-40  SpaceX CRS-2

   PAYLOAD_MASS__KG_      Orbit    Customer Mission_Outcome Landing_Outcome
0                500  LEO (ISS)  NASA (CRS)         Success      No attempt
1                677  LEO (ISS)  NASA (CRS)         Success      No attempt
----
Total payload mass, customer= NASA (CRS): 45596

In [24]:
#  Based on SQL only...

payload_NASA_CRS=pd.read_sql_query("Select sum(PAYLOAD_MASS__KG_) as 'Total payload mass NASA CRS' from spacex_v5 where Customer='NASA (CRS)'",conn) 
print(payload_NASA_CRS)

   Total payload mass NASA CRS
0                      45596.0

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [25]:
payload_F9v11=pd.read_sql_query("Select avg(PAYLOAD_MASS__KG_) as 'avg mass' from spacex_v5 where Booster_Version='F9 v1.1'",conn) 
print(payload_F9v11)

   avg mass
0    2928.4

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [26]:
df_unique_launchsites=pd.read_sql_query("Select distinct Launch_Site  from spacex_v5 ",conn) 
print(df_unique_launchsites)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

In [27]:
df_unique_Landing_Outcome=pd.read_sql_query("Select distinct Landing_Outcome from spacex_v5 ",conn) 
print(df_unique_Landing_Outcome)

           Landing_Outcome
0      Failure (parachute)
1               No attempt
2     Uncontrolled (ocean)
3       Controlled (ocean)
4     Failure (drone ship)
5   Precluded (drone ship)
6     Success (ground pad)
7     Success (drone ship)
8                  Success
9                  Failure
10             No attempt

In [28]:
min_Date_success_landing=pd.read_sql_query("select min(Date) from spacex_v5 where Landing_Outcome = 'Success (ground pad)'",conn) 
print(min_Date_success_landing)

    min(Date)
0  2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
#  sql query 
q_boost_succ= """ select  Booster_Version from spacex_v5 where Landing_Outcome = 'Success (drone ship)' 
                    and PAYLOAD_MASS__KG_ > 4000 
                    and PAYLOAD_MASS__KG_ < 6000 """

In [30]:
Booster_success_landing=pd.read_sql_query(q_boost_succ,conn)

print(Booster_success_landing)

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [31]:
#  sql query 
qsf= """Select (Select Count(Mission_Outcome) from spacex_v5 where Mission_Outcome like '%Success%')
        as Successful_Missions,
        (Select Count(Mission_Outcome) from spacex_v5
        where Mission_Outcome like '%Failure%') as Failed_Missions """


success_failure= pd.read_sql_query(qsf,conn) 
print(success_failure)

   Successful_Missions  Failed_Missions
0                   98                1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [32]:
# preliminary query on disctinct booster versions  
count_booster= pd.read_sql_query("Select distinct Booster_Version from spacex_v5",conn) 
print(count_booster)

   Booster_Version
0   F9 v1.0  B0003
1   F9 v1.0  B0004
2   F9 v1.0  B0005
3   F9 v1.0  B0006
4   F9 v1.0  B0007
..             ...
90    F9 B5B1062.1
91   F9 B5B1061.1
92    F9 B5B1063.1
93  F9 B5 B1049.7
94  F9 B5 B1058.4

[95 rows x 1 columns]

In [33]:
#  sql query 
qboost= """Select distinct Booster_Version, max(PAYLOAD_MASS__KG_) as max_payload_mass 
from spacex_v5
group by Booster_Version 
order by max_payload_mass  desc"""

In [34]:
boost_max_load= pd.read_sql_query(qboost,conn) 
boost_max_load.head(5)

  Booster_Version  max_payload_mass
0  F9 B5 B1058.3              15600
1  F9 B5 B1060.2              15600
2   F9 B5 B1049.5             15600
3   F9 B5 B1051.3             15600
4   F9 B5 B1051.4             15600

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [35]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,0 days 18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,0 days 15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [36]:
#  sql query 
q_failed_landing= """ Select Date, Booster_Version, Launch_Site, Landing_Outcome 
                   from spacex_v5 
                   where Landing_Outcome = 'Failure (drone ship)'
                   and Date like '%2015%'   """

In [37]:
fail_drone= pd.read_sql_query(q_failed_landing,conn) 
fail_drone.head(5)

         Date Booster_Version  Launch_Site       Landing_Outcome
0  2015-01-10   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1  2015-04-14   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [38]:
#  sql query 
q_count_landing= """ Select Landing_Outcome, count(*) as count_landings  
                   from spacex_v5                
                   where Date between '2010-06-04' and '2017-03-20'
                   group by Landing_Outcome
                   order by count_landings desc  """

In [39]:
count_landing= pd.read_sql_query(q_count_landing,conn) 
count_landing.head(10)

          Landing_Outcome  count_landings
0              No attempt              10
1    Failure (drone ship)               5
2    Success (drone ship)               5
3      Controlled (ocean)               3
4    Success (ground pad)               3
5    Uncontrolled (ocean)               2
6     Failure (parachute)               1
7  Precluded (drone ship)               1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>